<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>LoginRegistrationApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>com.bridgelabz.configure.dbutil.model.servlet.LoginPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>regservlet</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>regservlet</servlet-name>
		<servlet-class>com.bridgelabz.configure.dbutil.model.servlet.LoginRegistatrionApp</servlet-class>
	</servlet>
	<filter-mapping>
		<filter-name>filterservlet</filter-name>
		<url-pattern>/reg</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>filterservlet</filter-name>
		<filter-class>com.bridgelabs.sevlets.filter.UserInfoValidation</filter-class>
	</filter>
	<servlet>
		<description></description>
		<display-name>EditUserInfo</display-name>
		<servlet-name>EditUserInfo</servlet-name>
		<servlet-class>com.bridgelabz.configure.dbutil.model.servlet.EditUserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserInfo</servlet-name>
		<url-pattern>/editinfo</url-pattern>
	</servlet-mapping>
	<!-- <filter-mapping> <filter-name>editfilterservlet</filter-name> <url-pattern>/edit</url-pattern> 
		</filter-mapping> <filter> <filter-name>editfilterservlet</filter-name> <filter-class>com.bridgelabz.configure.dbutil.model.servlet.EditUserInfo</filter-class> 
		</filter> -->
</web-app>